# Virtual environment
.torch_hy2dl_venv/

# Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*~
*.swp
*#


# Package cache directories
modelzoo/__pycache__/
modelzoo/hy2dl/**/__pycache__/

# Only of local interest
Data/attributes/attributes_bck.csv
Data/attributes/questions.txt